{% extends 'base.html.twig' %}

{% block body_id 'location_show' %}

{% block main %}
    <h1>{{ location.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Location</th>
            <td><p>{{ location.name }}</p></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('location_edit', { id: location.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> Edit location
        </a>
    </div>

    <div class="section">
        {{ include('location/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete location',
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = false) }}
    </div>

{% endblock %}
