{% extends 'base.html.twig' %}

{% block body_id 'book_edit' %}

{% block main %}
    <h1>Edit book #{{ book.id }}</h1>

    {{ include('book/_form.html.twig', {
        form: edit_form,
        button_label: 'Save changes',
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('book/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete book',
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}